
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: whitesmoke;
    

}

nav{
    background: #8DD0E3;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    margin-left: 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
}

a.active,a:hover{
    background: #A3D9E8;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 976px){
    label.logo{
        font-size: 25px;
        padding: 0;
        margin-left: 37px;
    }
    nav ul li a{
        font-size: 20px;
        
    }
    .content{
        text-align: center;
        margin: 0;
    }
    .hometext{
        margin: 0;
        float: left;
    }
    nav{
        height: 80px;
    }
    .checkbtn{
        margin-right: 27px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}

.hometext{
    text-decoration: unset;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-top: 13%;
}


.hometext p{
    color: black;
    line-height: 22px;
}

.hometext a{
    background: #8DD0E3;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
}

.hometitel {
    color: black;
}

.homefotos {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.homefotos img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.homefotos:hover .vorm{
    bottom: 35px;
}

.homefotos:hover .foto{
    left: 45%;
    
}






